* {
	margin: 0px;
	list-style: none;
	padding: 0px;
	text-decoration: none;
}

.top {
	width: 900px;
	height: 100px;
	margin: 0px auto;
	position: relative;
}

.topicon {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url(../img/xusticon.png);
	background-size: 100% 100%;
}

.toptitle {
	width: 480px;
	height: 80px;
	position: absolute;
	top: 15px;
	left: 90px;
	background-image: url(../img/toptitle.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.toplogin {
	width: 150px;
	position: absolute;
	top: 50px;
	right: 20px;
}

.toplogin span {
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	border: 1px solid #075385;
}

.span2 {
	width: 60px;
	position: absolute;
	right: -10px;
}

.toplogin a {
	color: #075385;
}

.toplogin span:hover {
	background-color: #7FCCEA;
	color: white;
	border: 1px solid #7FCCEA;
}

.topimg {
	width: 100%;
	height: 200px;
	background-image: url(../img/topimg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.mid {
	background-color: #FFFFFF;
	width: 100%;
	height: 1000px;
}

.mid1 {
	background-color: #DCEFFE;
	width: 220px;
	height: 1100px;
	display: inline-block;
	position: absolute;
	top: 300px;
	border-right: 2px dashed gainsboro;
}

.mid1_1announce {
	width: 220px;
	height: 340px;
}

.mid1_1title {
	background-color: #FFFFFF;
	width: 190px;
	height: 80px;
	border: 1px solid black;
	margin: 15px auto;
	text-align: center;
	font-size: 30px;
	color: red;
	line-height: 80px;
	font-weight: 600;
	cursor: default;
}

.mid1_1content {
	background-color: #FFFFFF;
	width: 190px;
	height: 220px;
	border: 1px solid black;
	margin: 10px auto;
}

.mid1_2user {
	background-color: #FFFFFF;
	width: 190px;
	height: 320px;
	border: 1px solid black;
	margin: 0px auto;
}

.mid1_2usericon {
	border: 1px dashed black;
	width: 80px;
	height: 80px;
	margin: 10px auto;
}
.mid1_2usericon img{
	width: 80px;
	height: 80px;
}

.mid1_2userinfo {
	width: 150px;
	height: 200px;
	margin: 0px auto;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 20px;
}

.mid2 {
	width: 900px;
	height: 1100px;
	margin: 0px auto;
}

.publish{
	
	width: 825px;
	height: 300px;
	margin: 0px auto;
	margin-top: 30px;
}
.publish p{
	font-size: 14px;
	font-weight: 600;
}
.submit{
	position: relative;top: 20px;
	width: 50px;
	height: 30px;
	background-color: #398BFC;
	color: #FFFFFF;
	border-radius: 05px;
	border: none;
	cursor: hand;
}
.submit:hover{
	background-color: #0E8CDC;
}
.mid3 {
	background-color: #DCEFFE;
	width: 220px;
	height: 1100px;
	position: absolute;
	right: 0px;
	top: 300px;
	border-left: 2px dashed gainsboro;
}

.mid3_1 {
	background-color: #FFFFFF;
	width: 190px;
	height: 80px;
	border: 1px solid black;
	margin: 15px auto;
	text-align: center;
	font-size: 30px;
	color: red;
	line-height: 80px;
	font-weight: 600;
	cursor: default;
}
.imgtop a{
	font-size: 14px;
	font-weight: 600;
	position: absolute;top: 325px;right: 260px;
	color: #075385;
	border-radius: 10px;
	display: inline-block;
	border: 1px solid #075385;
	width: 80px;
	text-align: center;
}
.imgtop a:hover {
	background-color: #7FCCEA;
	color: white;
	border: 1px solid #7FCCEA;
}
.mid3_2 {
	background-color: #FFFFFF;
	width: 190px;
	height: 565px;
	border: 1px solid black;
	margin: 0px auto;
	font-size: 14px;
	line-height: 20px;
	color: red;
	cursor: default;
}

.bottom {
	background-color: #DCEFFE;
	width: 100%;
	height: 120px;
	position: absolute;
	border-top: 3px solid black;
}

.bottom1 {
	background-color: #FFFFFF;
	width: 100%;
	height: 50px;
	border-bottom: 3px solid black;
}

.bottom1 ul li {
	float: left;
	border: 1px dashed black;
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	width: 90px;
	text-align: center;
	cursor: default;
}

.bottom1 div {
	width: 80px;
	height: 30px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 60px;
	float: left;
}

.bottom1_1 {
	background-image: url(../img/bottom1.png);
	background-size: 100% 100%;
}

.gif {
	position: absolute;
	top: 10px;
	left: 80px;
	width: 50px !important;
	height: 15px !important;
	background-image: url(../img/bottomgif.gif);
	background-size: 100% 100%;
}

.bottom2 {
	background-color: #075385;
	color: #FFFFFF;
	width: 180px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
	left: 585px;
	cursor: default;
}

.bottom2 span {
	font-size: 14px;
}