* {
	margin: 0px;
	list-style: none;
	padding: 0px;
	text-decoration: none;
}

.top {
	width: 900px;
	height: 100px;
	margin: 0px auto;
	position: relative;
}

.topicon {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url(../img/xusticon.png);
	background-size: 100% 100%;
}

.toptitle {
	width: 480px;
	height: 80px;
	position: absolute;
	top: 15px;
	left: 90px;
	background-image: url(../img/toptitle.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.toplogin {
	width: 150px;
	position: absolute;
	top: 50px;
	right: 20px;
}

.toplogin span {
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	border: 1px solid #075385;
}

.span2 {
	width: 60px;
	position: absolute;
	right: -10px;
}

.toplogin a {
	color: #075385;
}

.toplogin span:hover {
	background-color: #7FCCEA;
	color: white;
	border: 1px solid #7FCCEA;
}

.topimg {
	width: 100%;
	height: 200px;
	background-image: url(../img/topimg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.mid {
	background-color: #FFFFFF;
	width: 100%;
}




.mid2 {
	width: 1000px;
	height: 100%;
	min-height: 800px;
	margin: 0px auto;
	
}
.huitiecom{
	min-height: 200px;
	height: 100%;
	padding: 10px;
}



.imgtop {
	margin: 0px auto;
	margin-top: 20px;
	border-bottom: 2px dashed darkgray;
	width: 900px;
	height: 30px;
}
.imgtop a{
	font-size: 14px;
	font-weight: 600;
	position: absolute;top: 325px;right: 220px;
	color: #075385;
	border-radius: 10px;
	display: inline-block;
	border: 1px solid #075385;
	width: 80px;
	text-align: center;
}
.imgtop a:hover {
	background-color: #7FCCEA;
	color: white;
	border: 1px solid #7FCCEA;
}


.imgtop span {
	font-size: 18px;
	font-weight: 600;
	position: relative;
	top: -10px;
}

.imgtop img {
	width: 30px;
	height: 30px;
}
.tiezi {
	width: 900px;
	min-height: 450px;
	height:100%;
	/*position: relative;
	top: 20px;
	left: 35px;*/
	margin: 20px auto;
	padding-bottom: 50px;
	border-bottom: 1px dashed #CCCCCC;
}
.tiezi1 p{
	font-size: 14px;
	font-weight: 600;
}

.tiezi1 {
	width: 900px;
	height:100%;
	/*position: relative;
	top: 20px;
	left: 35px;*/
	margin: 0px auto;
	padding-bottom: 50px;
}
.table {
	border-collapse: collapse;
	line-height: 30px;
	padding: 2px;
	table-layout: fixed;
	width: 100%;
}
table,
table tr th,
table tr td {
	height: 40px;
	border: 1px solid #CCCCCC;
	font-size: 14px;
}



.table img {
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

.table a {
	cursor: hand;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333333;
}

.table a:hover {
	cursor: hand;
	color: red;
}
.perinfo{
	min-height: 200px;
	height: 100%;
	background-color: #FAFBFC;
	text-align: center;
}
.perinfo img{
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border: 1px solid #CCCCCC;
}

.huitietop{
	font-family: "微软雅黑";
	font-size: 12px;
	border-bottom: 1px solid #CCCCCC;
}
.louceng{
	float: right;
}
.submit{
	position: relative;top: 20px;
	width: 50px;
	height: 30px;
	background-color: #398BFC;
	color: #FFFFFF;
	border-radius: 05px;
	border: none;
	cursor: hand;
}
.submit:hover{
	background-color: #0E8CDC;
}
.bottom {
	background-color: #DCEFFE;
	width: 100%;
	height: 120px;
	position: relative;
	border-top: 3px solid black;
}

.bottom1 {
	background-color: #FFFFFF;
	width: 100%;
	height: 50px;
	border-bottom: 3px solid black;
}

.bottom1 ul li {
	float: left;
	border: 1px dashed black;
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	width: 90px;
	text-align: center;
	cursor: default;
}

.bottom1 div {
	width: 80px;
	height: 30px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 60px;
	float: left;
}

.bottom1_1 {
	background-image: url(../img/bottom1.png);
	background-size: 100% 100%;
}

.gif {
	position: absolute;
	top: 10px;
	left: 80px;
	width: 50px !important;
	height: 15px !important;
	background-image: url(../img/bottomgif.gif);
	background-size: 100% 100%;
}

.bottom2 {
	background-color: #075385;
	color: #FFFFFF;
	width: 180px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
	left: 585px;
	cursor: default;
}

.bottom2 span {
	font-size: 14px;
}


.page_all {
	margin: 15px 0;
}

.page {
	margin: 0px auto;
	width: 350px;
	float: right;
}

.page ul li {
	float: left;
	margin-left: 10px;
}

.page ul li a {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	display: block;
	width: 22px;
	height: 22px;
	border: 1px solid #e3e3e3;
	background-color: #eeeeee;
	text-align: center;
	line-height: 22px;
}

.page ul li a span.arrow_left {
	display: block;
	width: 5px;
	height: 8px;
	background: url(../img/arrow_left.png) 0 0 no-repeat;
	margin: 7px 0 0 9px;
}

.page ul li a span.arrow_right {
	display: block;
	width: 5px;
	height: 8px;
	background: url(../img/arrow_right.png) 0 0 no-repeat;
	margin: 7px 0 0 10px;
}

.page ul li a:hover {
	background-color: #F06526;
	border: 1px solid #F06526;
	color: #ffffff;
}

.page ul li.page_active a {
	background-color: #F06526;
	border: 1px solid #F06526;
	color: #ffffff;
}

.page ul li a:hover span.arrow_left {
	background: url(../img/arrow_left_hover.png) 0 0 no-repeat;
}

.page ul li a:hover span.arrow_right {
	background: url(../img/arrow_right_hover.png) 0 0 no-repeat;
}
