<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bbs.mapper.PageMapper">
    <select id="getkctotalpage" parameterType="string" resultType="int">
     select count(*) from forum where forumType=#{type} 
    </select>
    
    <select id="getReplyPage" parameterType="string" resultType="int">
     select count(*) from reply where replyForumid=#{forumId}
    </select>  
  </mapper>