<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.mapper.ReplyMapper">
	<select id="findForumOne" parameterType="String" resultType="com.bbs.model.Forum">
		select * from forum where forumId=#{forumId}
	</select>
	<select id="findReplyById" parameterType="String" resultType="com.bbs.model.Reply">
		select * from reply where replyforumId=#{0} limit #{1},#{2}
	</select>
	<select id="findFidById" parameterType="String" resultType="String">
		select replyForumid from reply where replyId=#{replyId}
	</select>
	<insert id="addReply" parameterType="com.bbs.model.Reply">
		insert into
		reply(replyType,replyForumid,replyUserid,replyContent)
		values(#{replyType},#{replyForumid},#{replyUserid},#{replyContent})
	</insert>
    <delete id="deletereply" parameterType="string">
	delete from reply where replyId=#{replyId}
	</delete>
</mapper>